body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(227, 139, 154); 
    font-size: 20px;
}
h2{
    color: rgb(206, 104, 121); 
    font-size: 15px;
}

.botonClick{
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 12px;
    color: rgb(247, 236, 238);
    text-align: center;
    background-color: rgb(245, 187, 197);
    border-radius: 6px;
    border: 2px solid rgb(245, 187, 197);
}

.botonClick:hover{
    transform: scale(1.05);
}
